@import "./node_modules/sass-font-face/_font-face.scss";

$lp-bars: "\e901";
$lp-search: "\e902";
$lp-shopping-cart: "\e900";
 
$openSans-regular: 'Open Sans Regular';
$bebasNeue-regular: 'BebasNeue Regular';
$lpicon: 'lpicon';
@include font-face($openSans-regular, '../font/', 'OpenSans-Regular-webfont', 'open_sansregular');
@include font-face($bebasNeue-regular, '../font/', 'BebasNeue Regular', 'bebas_neueregular');
@include font-face($lpicon, '../font/', 'lpicon', 'lpicon');
 

i {
  font-family: 'lpicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lp-bars {
  &:before {
    content: $lp-bars;
  }
}
.lp-search {
  &:before {
    content: $lp-search;
  }
}
.lp-shopping-cart {
  &:before {
    content: $lp-shopping-cart;
  }
} 
