.slick-dots {
    bottom: -7%;
    @include breakpoint (small-tablet) {
        bottom: -10%;
    }
    @include breakpoint (mid-phone) {
        bottom: -30px;
    }
}
.slick-dots li {
    margin: 0;
}
.slick-dots li button::before {
    font-size: 30px;
    @include breakpoint (phone) {
        font-size: 15px;
    }
}

.slick-dots li button::before {
    color: white;
    opacity: 1;
}

.slick-dots li.slick-active button::before {
    color: white;
}

.slider {
    width: 100%;
    /*margin: 100px auto;*/
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}
.slick-active {
    opacity: 1;
}
.slick-prev::before, .slick-next::before {
    content: '';
}
.slick-prev {
    width: 70px;
    height: 70px;
    background: url(../img/arrow-left.png) no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    left: -8%;
    @include breakpoint(small-tablet) { 
        left: -2%;
    }
}
.slick-next {
    width: 70px;
    height: 70px;
    background: url(../img/arrow-right.png) no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    right: -8%;
    @include breakpoint(small-tablet) { 
        right: -2%;
    }
}
.slick-prev,
    .slick-next {
        width: 70px;
        height: 70px;
        z-index: 1;
        @include breakpoint(mid-desktop) {
            width: 50px;
            height: 50px;
        }
        @include breakpoint(tablet) {
            width: 48px;
            height: 48px;
        }
        @include breakpoint(small-tablet) {
            width: 40px;
            height: 40px;
        }
        @include breakpoint(phone) {
            width: 35px;
            height: 35px;
        }
    }
.slick-prev:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
    background: url(../img/arrow1.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.slick-next:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
    background: url(../img/arrow2.png) no-repeat;
    background-position: center;
    background-size: cover;
}