//Color
$color-white: white;
$color-black: black;
$color-green: #3cc5b5;
$color-green2: #3cc395;
$color-green3: #4ccfc1;
$color-green4: #3cbeae;
$color-green5: #2da89b;
$color-gray: #afafaf;
$color-gray2: #c9c9c9;
$color-gray3: #f5f5f5;
$color-gray4: #e3e3e3;
$color-gray5: #a1a1a1;
$color-gray6: #e7e7e7;

//Fonts
$font-bebas: 'BebasNeue';
$font-opensans-regular: 'OpenSans Regular';

